@import url('https://fonts.googleapis.com/css?family=Amiri|Great+Vibes');

body{
  font-size: 18px;
  font-family: 'Amiri', serif;
  color: #222;
  line-height: 1.0;
}

#container{
  width: 960px;
  margin: 0 auto;
  padding: 10px;
}

#picturebox{
  height: 295px;
  width: 200px;
  border: 2px solid grey;
  overflow: hidden;
  padding-right: 70px;
  margin-right: 20px;
  float: left;
}

#picturebox2{
  height: 275px;
  width: 200px;
  border: 1px solid grey;
  overflow: hidden;
  padding-right: 70px;
  margin-right: 20px;
  float: left;
}

#name{
  line-height:1.5;
  margin-bottom: 15px;
  padding-top: 5px;
  background-color: #eee;
  font-family: 'Great Vibes', cursive;
  font-size: 50px;
}

#motto{
  font-size: 30px;
}

header{
  font-size: 18px;
  line-height: 1.3;
  margin-bottom: 40px;
  overflow: auto;
}

header ul{
  margin: 0;
  list-style: none;
  padding-left: 0;
  margin-top: 28px;
}

li{
  margin-bottom: 3px;
}
.address{
    float: left;
}

.address:after{
  content: "•";
}

a{
  color: grey;
}

a:visited{
  color: #FFB6C1;
}

a:hover{
  color: rgb(60,196,123);
}

a:active{
  color: grey;
}

#main_nav{
  display: block;
  margin: auto;
  padding-right: 5px;
  font-variant-caps: all-small-caps;
  font-size: 25px;
  margin-bottom: 12px;
  background-color: #eee;
  padding-top: 5px;
  padding-bottom: 5px;
}

#main_nav li{
  margin-right: 15px;
  list-style: none;
  display: inline-block;
}

#main_nav ul{
  margin: auto;
  list-style: none;
  padding-left: 0;
  display: inline-block;
}


#menu{
  display: block;
  font-variant-caps: all-small-caps;
  margin-bottom: 12px;
  background-color: #eee;
}

#menu li{
  list-style: none;
  margin-bottom: 15px;
  display: block;
  font-size: 35px;
}


#school{
  background-color: #eee;
}

#school h3,p{
  display: inline-block;
  margin-left: 5px;
}

#school p{
  text-align: right;
}

#location{
  float:right;
  margin-right: 5px;
  margin-top: 6px;
}

#degree{
  margin-top: 7px;
}

#degree p{
  display: inline;
}

#degree2 p{
  display: inline;
}

#graddate{
  float:right;
}

#company{
  background-color: #eee;
}

#company h3,p{
  display: inline-block;
  margin-left: 5px;
}

#company p{
  text-align: right;
}

#location2{
  float:right;
  margin-right: 5px;
  margin-top: 6px;
}

#position{
  margin-top: 7px;
}
#position p{
  display: inline;
}

#date{
  float:right;
}

#position2 p{
  display: inline;
}

#date2{
  float:right;
}

#company2{
  background-color: #eee;
}

#company2 h3,p{
  display: inline-block;
  margin-left: 5px;
}

#company2 p{
  text-align: right;
}

#location3{
  float:right;
  margin-right: 5px;
  margin-top: 6px;
}

#position3{
    margin-top: 7px;
}
#position3 p{
  display: inline;
}

#date3{
  float:right;
}

#position4 p{
  display: inline;
}

#date4{
  float:right;
}

#company3{
  background-color: #eee;
}

#company3 h3,p{
  display: inline-block;
  margin-left: 5px;
}

#company3 p{
  text-align: right;
}

#location4{
  float:right;
  margin-right: 5px;
  margin-top: 6px;
}

#position5{
  margin-top: 7px;
}

#position5 p{
  display: inline;
}

#date5{
  float:right;
}

#position6 p{
  display: inline;
}

#date6{
  float:right;
}


h2{
  text-align: left;
  font-variant-caps: all-small-caps;
  font-size: 40px;
  margin: 5px 0;
}
#tech h3{
  margin-bottom: 5px;
}

#tech{
  float: left;
}

#tech ul{
  display: inline-block;
  height: 90px;
  width: 180px;
  padding-right: 15px;
  padding-left: 5px;
  padding-top: 10px;
  float: left;
  background-color: #eee;
  border-bottom: 2px solid grey;
  overflow: scroll;
}

#activities h3{
  margin-bottom: 5px;
}

#activities{
  float: left;
}
#activities ul{
  display: inline-block;
  padding-top: 10px;
  padding-right: 15px;
  padding-left: 5px;
  height: 90px;
  width: 190px;
  overflow: scroll;
  float: left;
  background-color: #eee;
  border-bottom: 2px solid grey;
}

#interests h3{
  margin-bottom: 5px;
}

#interests{
  float: left;
}

#interests ul{
  display: inline-block;
  padding-right: 0px;
  padding-left: 5px;
  padding-top: 10px;
  height: 90px;
  width: 160px;
  overflow: scroll;
  background-color: #eee;
  border-bottom: 2px solid grey;
}

#footer{
  display: inline-block;
  width: 100%;
  padding-right: 5px;
  font-variant-caps: all-small-caps;
  font-size: 25px;
  margin-bottom: 20px;
  margin-top: 15px;
  background-color: #eee;
}

#footer li{
    margin-right: 15px;
    list-style: none;
    display: inline-block;

  }

  #footer ul{
    margin: 0;
    list-style: none;
    padding-left: 0;
    display: inline-block;
    padding-top: 5px;
    padding-bottom: 5px;
  }


  .panel {
    position: fixed;
    left: -15.625em; /*left or right and the width of your navigation panel*/
    width: 15.625em; /*should match the above value*/
}

.wrap {
    position: relative;
}


#about{
  height: 180px;
  width: 960px;
  overflow: scroll;
  text-align: justify;
}

#about p{
  background-color: #eee;
}

#about h2{
  margin-left: 5px;
}
#motto{
  font-size: 25px;
}
