<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet">

body{
  font-size: 14px;
  font-family: 'Roboto Condensed', sans-serif;
  color: #222;
  line-height: 1.0;
}

#container{
  margin: 5px;
  padding: 10px;
}

#picturebox{
  height: 295px;
  width: 210px;
  overflow: hidden;
  padding-right: 70px;
  margin-right: 20px;
  float: left;
}

#name{
  line-height:1.5;
  margin-bottom: 15px;
  padding-bottom: 5px;
  background-color: #eee;
  font-family: 'Satisfy', cursive;
  font-size: 50px;
}

header{
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 40px;
  overflow: auto;
}

header ul{
  margin: 0;
  list-style: none;
  padding-left: 0;
  margin-top: 28px;
}

#town{
  list-style: initial;
}

#address{
  margin-right:25px;
  float: left;
}

a{
  color: grey;
}

a:visited{
  color: #FFB6C1;
}

a:hover{
  color: rgb(60,196,123);
}

a:active{
  color: grey;
}

#main_nav{
  display: inline-block;
  padding-right: 5px;
  font-variant-caps: all-small-caps;
  font-size: 25px;
  margin-bottom: 12px;
}

#main_nav li{
  margin-right: 5px;
  list-style: none;
  display: inline-block;
  background-color: #eee;
}

#main_nav ul{
  margin: 0;
  list-style: none;
  padding-left: 0;
  display: inline-block;
}

#school{
  background-color: #eee;
}

#school h3,p{
  display: inline-block;
  margin-left: 5px;
}

#school p{
  text-align: right;
}

#location{
  float:right;
  margin-right: 5px;
  margin-top: 6px;
}

#degree p{
  display: inline;
}

#degree2 p{
  display: inline;
}

#graddate{
  float:right;
}

#company{
  background-color: #eee;
}

#company h3,p{
  display: inline-block;
  margin-left: 5px;
}

#company p{
  text-align: right;
}

#location2{
  float:right;
  margin-right: 5px;
  margin-top: 6px;
}

#position p{
  display: inline;
}

#date{
  float:right;
}

#position2 p{
  display: inline;
}

#date2{
  float:right;
}

#company2{
  background-color: #eee;
}

#company2 h3,p{
  display: inline-block;
  margin-left: 5px;
}

#company2 p{
  text-align: right;
}

#location3{
  float:right;
  margin-right: 5px;
  margin-top: 6px;
}

#position3 p{
  display: inline;
}

#date3{
  float:right;
}

#position4 p{
  display: inline;
}

#date4{
  float:right;
}

#company3{
  background-color: #eee;
}

#company3 h3,p{
  display: inline-block;
  margin-left: 5px;
}

#company3 p{
  text-align: right;
}

#location4{
  float:right;
  margin-right: 5px;
  margin-top: 6px;
}

#position5 p{
  display: inline;
}

#date5{
  float:right;
}

#position6 p{
  display: inline;
}

#date6{
  float:right;
}


h2{
  text-align: left;
  font-variant-caps: all-small-caps;
  font-size: 40px;
  margin: 5px;
}

#tech{
  float: left;
}

#tech ul{
  display: inline-block;
  height: 90px;
  width: 180px;
  padding-right: 15px;
  padding-left: 5px;
  padding-top: 10px;
  float: left;
  background-color: #eee;
  border-bottom: 2px solid grey;
  overflow: scroll;
}

#activities{
  float: left;
}
#activities ul{
  display: inline-block;
  padding-top: 10px;
  padding-right: 15px;
  padding-left: 5px;
  height: 90px;
  width: 190px;
  overflow: scroll;
  float: left;
  background-color: #eee;
  border-bottom: 2px solid grey;
}

#interests{
  float: left;
}

#interests ul{
  display: inline-block;
  padding-right: 0px;
  padding-left: 5px;
  padding-top: 10px;
  height: 90px;
  width: 160px;
  overflow: scroll;
  background-color: #eee;
  border-bottom: 2px solid grey;
}

#footer{
  display: inline-block;
  padding-right: 5px;
  font-variant-caps: all-small-caps;
  font-size: 25px;
  margin-bottom: 20px;
  margin-top: 15px;
}

#footer li{
    margin-right: 7px;
    list-style: none;
    display: inline-block;
    background-color: #eee;
  }

  #footer ul{
    margin: 0;
    list-style: none;
    padding-left: 0;
    display: inline-block;
  }
